$darkblue: #0c0d2a;
$cloud-lightblue: #d3e9eb;
$cloud-blue: #9fcacf;
$rainbow-blue: #00a5ff;
$rainbow-green: #b9ff00;
$rainbow-yellow: #ffd500;
$rainbow-red: #ff513f;
$white: #fff;
$gray: #366469; // 'ish

$nav-bg: $darkblue;
$nav-color: $white;

